.action_notify {
  background-color: $color-success;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 0 1em 1em;
  transform: translateY(-100%);
  transition: 500ms;
  transition-timing-function: easeInOutCirc;

  .action_notify__inner {
    background-color: $color-white;
    padding: 2em $gutter * 2 0.4em;
    box-shadow: 1px 3px 8px $color-black;
  }

  &.action_notify--show {
    transform: translateY(0);
  }
}
