.controls_container {
  margin-bottom: $gutter * 2;
  background-color: $color-secondary;
  padding: $gutter * 2;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 0;
    margin-right: $gutter;
  }

  @include desktop {
    margin-bottom: 0;
    margin-right: $gutter;
  }

  .controls_container__label {
    margin-bottom: $gutter;
    display: block;
  }

  &.controls_container__flex {
    display: flex;
    align-items: center;

    .controls_container__label {
      margin-bottom: 0;
      margin-right: $gutter;
    }
  }
}
