.icon {
  background-color: $color-white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px $color-grey;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  &.icon--success {
    background-color: $color-success;
    color: $color-white;
  }

  &.icon--active {
    background-color: $color-yellow;
  }

  .icon__span {
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}