.ingredient_input {
  display: flex;
  flex-flow: column nowrap;

  @include desktop {
    flex-flow: row nowrap;
  }

  .ingredient_input__container:first-child,
  .ingredient_input__container:nth-child(2) {
    .form-control:nth-child(2) {
      @include tablet {
        border-right: 0;
      }

      @include desktop {
        border-right: 0;
      }
    }
  }

  .ingredient_input__label {
    color: $color-black;
  }
}
