.new_recipe_tags {
  background-color: $color-secondary;

  .new_recipe_tags__container {
    display: flex;
    flex-flow: row wrap;
  }

  .form-control {
    margin-bottom: 0;
  }

  .auto_complete__list {
    list-style-type: none;
    max-height: 200px;
    overflow-y: scroll;
    border-left: 1px solid $color-grey;
    border-right: 1px solid $color-grey;

    @include scrollbar;

    .auto_complete__list_item {
      padding: 0.6em $gutter;
      cursor: pointer;
      background-color: $color-white;
      border-bottom: 1px solid $color-grey;

      &:hover {
        background-color: $color-success;
        color: $color-white;
      }
    }
  }
}
