.pop_up {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(55, 55, 55, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .pop_up__close {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 3em;
    color: $color-white;
    cursor: pointer;
  }

  .pop_up__inner {
    background-color: $color-white;
    padding: 1em;

    .message--warning {
      color: $color-warning;
      margin-bottom: $gutter;
    }

    a {
      display: block;
      margin-bottom: $gutter;
    }

    p {
      margin-bottom: $gutter;
    }
  }
}
