.progress_spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-opaque;
  z-index: 100;

  .progress_spinner__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}