.recipe_rating {
  position: relative;
  height: 24px;
  width: 102px;

  .recipe_rating__empty_stars,
  .recipe_rating__filled_stars {
    height: 24px;
    width: 102px;
    position: absolute;
  }

  .recipe_rating__star {
    height: 24px;
    width: 21.4px;
    background-image: url("../assets/starsempty.png");
  }

  .recipe_rating__picker {
    display: flex;
    direction: rtl;

    &:hover {
      .recipe_rating__picker_filled {
        display: none;
      }
    }
  }

  .recipe_rating__picker > .recipe_rating__star:hover:before,
  .recipe_rating__picker
    > .recipe_rating__star:hover
    ~ .recipe_rating__star:before {
    content: "";
    height: 24px;
    width: 21.4px;
    background-image: url("../assets/starsfilled.png");
    position: absolute;
  }

  .recipe_rating__empty_stars {
    background-image: url("../assets/starsempty.png");
  }

  .recipe_rating__filled_stars {
    background-image: url("../assets/starsfilled.png");
    background-repeat: no-repeat;
  }

  .recipe_rating__picker_filled {
    pointer-events: none;
  }

  .recipe_rating__rate_1 {
    background-position-x: -82px;
  }

  .recipe_rating__rate_2 {
    background-position-x: -62px;
  }

  .recipe_rating__rate_3 {
    background-position-x: -41px;
  }

  .recipe_rating__rate_4 {
    background-position-x: -21px;
  }

  .recipe_rating__rate_5 {
    background-position-x: 0;
  }
}
