.recipe_list {
  @include scrollbar;

  .recipe_list__title {
    text-align: right;
    height: 4rem;
    padding-right: 0.8rem;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include blue-gradient;
    border-bottom: 1px solid $color-black;
  }

  .recipe_list__list_item {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    color: $color-black;
    text-decoration: none;
    background-color: $color-white;
    border-bottom: 2px solid $color-primary;

    @include tablet {
      flex-flow: row nowrap;
    }

    @include desktop {
      flex-flow: row nowrap;
    }
  }

  .recipe_list__description {
    margin: $gutter * 2 0;
  }

  .recipe_list__list_img {
    height: auto;
    width: 100%;
    display: block;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  .recipe_list__bg_img {
    height: auto;
    width: 100%;
    max-width: 179px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

    @include tablet {
      display: block;
    }

    @include desktop {
      display: block;
    }
  }

  .recipe_list__author {
    margin: $gutter * 2 0 0;
    font-style: italic;
    display: inline-block;
    font-size: 1.2em;
  }

  .recipe_list__bm_container {
    display: flex;
    margin-top: $gutter * 2;
    justify-content: flex-end;
  }

  .recipe_list__tags {
    display: flex;
  }

  .recipe_list__list_text {
    padding: $gutter $gutter * 2;
    width: 100%;
  }

  .recipe_list__header_flex {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;

    h2 {
      margin-right: $gutter * 2;
      color: $color-accent;
      font-size: 1.6em;

      &:hover {
        color: $color-secondary;
      }
    }

    @include tablet {
      flex-flow: row wrap;
    }

    @include desktop {
      flex-flow: row wrap;
    }
  }

  .material-icons {
    font-size: 2em;
  }
}
