.stepper_item {
  width: 100%;
  height: 100%;
  padding: 0.6em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  .stepper_item__label_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: $gutter * 2;
  }

  .stepper_item__label {
    color: $color-black;
    font-size: 1.4em;
    padding-bottom: $gutter;
    border-bottom: 1px solid $color-black;
  }
}
