.tag_search {
  display: flex;
  flex-flow: row wrap;

  .tag_search__outer_tag {
    display: flex;
  }

  .tag {
    cursor: pointer;
    background-color: $color-accent-secondary;

    &:hover {
      background-color: $color-accent-secondary-lighten;
    }

    &.tag_search__tag_selected {
      background-color: $color-accent;
    }
  }
}
