.top_nav {
  z-index: 100;
  flex-shrink: 0;
  background-color: $color-primary;
  align-items: center;
  height: 100%;
  position: absolute;
  transition: all $animationTime;
  transform: translate(-100%);

  &.top_nav__nav_btn--open {
    transform: translate(0);
  }

  .top_nav__title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.8em;
  }

  .top_nav__container {
    margin: 4em 0 0;
    min-width: 50vw;

    @include tablet {
      min-width: 20vw;
    }

    @include desktop {
      min-width: 12vw;
    }
  }

  .top_nav__nav_link {
    color: $color-black;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.4em;

    @include tablet {
      font-size: 1.2em;
    }

    @include desktop {
      font-size: 1em;
    }

    .top_nav__nav_link_icon {
      margin-right: 0.2em;
      font-size: 1.5em;
      width: 1em;
    }
  }

  .top_nav__nav_btn {
    @include navTab($color-black, $color-accent-secondary, 0);
    border: 1px solid $color-black;
  }

  .top_nav__list {
    background-color: $color-secondary;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
  }
  .top_nav__spacer {
    width: 1em;
    font-size: 1.5em;
    margin-right: 0.2em;
  }
  .top_nav__list_item {
    display: flex;
    border-bottom: 1px solid $color-primary;
    padding: 0.4em 0.4em;
    &:first-child {
      border-top: 1px solid $color-primary;
    }
  }
  .Form__formField___2DWhT {
    margin-bottom: 0;
  }
  .Input__inputLabel___nQolz {
    margin: 0;
  }
  .Button__button___1FrBC {
    background-color: transparent !important;
    text-align: left;
    color: $color-black !important;
    padding: 0;
  }
}
