.vertical_drawer {
  transition: transform $animationTime;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  transform: translateY(100%);
  background-color: $color-primary;

  &.vertical_drawer--show {
    transform: translateY(0);
  }

  .button {
    border-radius: 0;
    height: 2em;
  }

  .vertical_drawer__controls {
    padding: $gutter * 2;
    display: flex;
    flex-flow: column nowrap;
    background-color: $color-primary;

    @include tablet {
      flex-flow: row nowrap;
    }

    @include desktop {
      flex-flow: row nowrap;
    }
  }

  .vertical_drawer__options_btn {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: -2em;
    max-width: 4em;
    background-color: $color-accent-secondary;

    * {
      font-size: 0.8em;
    }
  }
}
