.view_recipe {
  overflow-y: scroll;
  background-color: $color-white;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;

  @include tablet {
    flex-flow: row nowrap;
  }

  @include desktop {
    flex-flow: row nowrap;
  }

  @include scrollbar;

  .view_recipe__inner {
    width: 100%;
    height: 100%;

    @include tablet {
      padding-left: 4em;
    }

    @include desktop {
      padding-left: 4em;
    }
  }

  &.view_recipe--edit {
    height: 100%;

    .view_recipe__title {
      justify-content: flex-start;
    }

    .view_recipe__title--mobile {
      text-align: left;
    }
  }

  .view_recipe__title {
    text-align: right;

    color: $color-black;
    background-color: $color-secondary;
    margin-right: 0.1rem;
    display: block;
    border-bottom: 1px solid $color-black;

    h1 {
      font-size: 1.4em;
      margin-bottom: 1px;
    }

    &.view_recipe__title--mobile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: row nowrap;
      padding: 0.4rem;
      padding-left: 4.8em;
      text-align: left;

      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }

    &.view_recipe__title--desktop {
      display: none;
      text-align: left;
      padding: 0.6rem;
      margin-bottom: $gutter;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        display: flex;
      }

      @include desktop {
        display: flex;
      }
    }
  }

  .view_recipe__recipe,
  .view_recipe__images {
    width: 100%;
    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 50%;
    }
  }

  .view_recipe__recipe {
    padding: $gutter;
    background-color: $color-white;
  }

  .view_recipe__description,
  .view_recipe__item_container,
  .view_recipe__header {
    margin-bottom: 0.4rem;
  }

  .view_recipe__item {
    margin-left: 0.6em;
    margin-bottom: 0.2em;
    font-weight: 200;
  }

  .view_recipe__images_inner {
    width: 100%;
    margin-top: 1em;
    padding-bottom: 2em;

    @include scrollbar;
  }

  .view_recipe__image_container {
    margin-bottom: 0.2em;
  }

  .view_recipe__image {
    width: auto;
    height: auto;
    max-width: 100%;

    @include tablet {
      max-width: 200px;
    }
    @include desktop {
      max-width: 200px;
    }
  }

  .view_recipe__tags_flex {
    display: flex;
    flex-flow: row wrap;
  }

  .view_recipe__social_flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;

    img {
      max-height: 32px;
      margin-right: 1em;
    }
  }
}
