.home {
  .home__title {
    padding: $gutter * 2;
    text-align: right;
    height: 4rem;
    color: $color-black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-primary;
    border-bottom: 1px solid $color-black;
  }

  .home__subtitle {
    padding: $gutter * 2;
    @include color-gradient;
  }

  .home__controls_reset {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-accent;

    &:hover {
      color: $color-accent-secondary-lighten;
    }
  }

  .home__search_flex {
    display: flex;

    .button {
      border-left: 0;
    }

    .form-control {
      margin: 0;
    }
  }

  .home__submit_btn {
    &:hover {
      background-color: $color-accent-secondary-lighten;
    }
  }
}
