.login {
  .Form__formSection___3tqxz {
    margin: 4em auto;
    position: relative;
    display: block !important;
    max-width: 400px;
    width: 100%;
    min-width: 0 !important;
  }

  .Button__button___1FrBC {
    background-color: $color-primary !important;
    color: $color-black !important;
  }
}
