.my_recipes {
  background-color: $color-secondary;
  margin-bottom: 2em;
  z-index: 9;

  .my_recipes__tag_container {
    display: flex;
    flex-flow: row wrap;

    .tag {
      background-color: $color-accent-secondary;
      &:hover {
        background-color: $color-accent-secondary-lighten;
      }

      &.my_recipes__selected_tag {
        background-color: $color-accent-secondary-lighten;
      }
    }
  }
}

.no_recipes {
  padding: 1em;
  background-color: $color-secondary;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  position: absolute;

  h1,
  p {
    margin-bottom: 0.8rem;
  }
}

.loading_bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: $color-secondary;
}
