.new_recipe {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;

  .new_recipe__begin {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-accent;

    h3 {
      margin-bottom: 1em;
      color: $color-white;
    }
  }

  .new_recipe__beginBtn {
    background-color: $color-white;
    color: $color-black;
  }

  .new_recipe__errors {
    background-color: $color-warning;
    padding: $gutter;
    color: $color-white;
    margin-top: $gutter * 2;
    display: inline-block;
  }

  .new_recipe__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new_recipe__saved_items {
    overflow-y: scroll;
    margin-top: $gutter * 2;
    display: block;
    flex-flow: column nowrap;

    span {
      color: $color-black;
    }

    @include scrollbar;
  }

  .new_recipe__saved_item {
    display: flex;
    align-items: center;
    margin-bottom: $gutter;

    span {
      color: $color-black;
      word-break: break-word;
    }

    .icon {
      margin: 0.2em 0.5em 0.2em 0;
    }

    .new_recipe__img_remove_icon {
      margin: 0 0 -22px -6px;
      z-index: 10;
    }
  }

  .new_recipe__file_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .new_recipe__nav {
    height: calc(100% - 4em);
    width: 4em;
    background-color: $color-primary;

    .new_recipe__nav_flex {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 4em;
      height: 100%;
      text-align: center;
    }

    .new_recipe__nav_item {
      background-color: $color-primary;
      flex-grow: 1;
      width: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .icon {
        height: 3em;
        width: 3em;
      }
    }
  }

  .new_recipe__img_container_flex {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    overflow-y: scroll;
    margin-top: 1em;

    @include scrollbar;

    @include tablet {
      flex-flow: row wrap;
    }

    @include desktop {
      flex-flow: row wrap;
    }
  }

  .new_recipe__img_container {
    position: relative;
    padding: $gutter;
    width: 100%;

    @include tablet {
      width: auto;
    }

    @include desktop {
      width: auto;
    }
  }

  .new_recipe__img {
    width: auto;
    height: auto;
    max-width: 100%;

    @include tablet {
      max-width: 200px;
    }
    @include desktop {
      max-width: 200px;
    }
  }

  .new_recipe__final {
    .button {
      margin-top: $gutter;
    }
  }
}
