<template>
  <div class="author_recipes">
    <recipe-list :recipes="recipes"></recipe-list>
  </div>
</template>

<script>
import { RECIPESTABLE } from "@/constants/constants";
import RecipeList from "@/components/RecipeList";
import * as AWS from "aws-sdk";
export default {
  name: "AuthorRecipes",
  components: {
    RecipeList
  },
  data() {
    return {
      recipes: null
    };
  },
  created() {
    const docClient = new AWS.DynamoDB.DocumentClient(),
      params = {
        TableName: RECIPESTABLE,
        IndexName: "userId-timestamp-index",
        KeyConditions: {
          userId: {
            ComparisonOperator: "EQ",
            AttributeValueList: [this.$route.params.id]
          }
        },
        ScanIndexForward: false
      };
    docClient.query(params, (err, data) => {
      if (err) {
        console.error("Unable to query. Error:", JSON.stringify(err, null, 2));
      } else {
        this.recipes = data.Items;
        this.filteredRecipes = data.Items;
      }
    });
  }
};
</script>
