<template>
  <div>
    <pop-up v-if="showError" v-on:closed="showError = false" :message="error_message"></pop-up>
    <progress-spinner v-if="loading"></progress-spinner>
    <recipe-list title="Bookmarks" :recipes="recipes"></recipe-list>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import { RECIPESTABLE, ERROR_MESSAGE_GET_RECIPES } from "@/constants/constants";
import ProgressSpinner from "@/components/ProgressSpinner";
import PopUp from "@/components/PopUp";
import RecipeList from "@/components/RecipeList";
export default {
  name: "BookMarks",
  components: {
    RecipeList,
    ProgressSpinner,
    PopUp
  },
  created() {
    const docClient = new AWS.DynamoDB.DocumentClient(),
      params = {
        RequestItems: {
          [RECIPESTABLE]: {
            Keys: this.bookmarks
          }
        }
      };

    let recipes = docClient.batchGet(params).promise();
    recipes
      .then(data => {
        this.recipes = data.Responses[RECIPESTABLE];
        this.loading = false;
      })
      .catch(err => {
        this.loading = false;
        this.showError = true;
      });
  },
  data() {
    return {
      loading: true,
      showError: false,
      recipes: null,
      error_message: ERROR_MESSAGE_GET_RECIPES
    };
  },
  computed: {
    bookmarks() {
      let keys = [];
      this.$store.state.userData.bookmarks.forEach(item => {
        keys.push({ id: item });
      });
      return keys;
    }
  }
};
</script>