<template>
  <div class="home">
    <progress-spinner v-if="loading"></progress-spinner>
    <pop-up v-if="showError" v-on:closed="showError = false" :message="error_message"></pop-up>
    <h1 class="home__title">Recipe Sizzler</h1>
    <news-section></news-section>
    <h2 class="home__subtitle">{{searchMessage}}</h2>
    <recipe-list :home="true" :recipes="recipesComputed"></recipe-list>
    <vertical-drawer btnLabel="Search">
      <controls-container label_for="search" label="Search:">
        <div class="home__search_flex">
          <input id="search" class="form-control" type="text" v-model="searchQuery">
          <button
            class="button bg-accent-secondary home__submit_btn"
            type="submit"
            @click="submitSearch"
          >Submit</button>
        </div>
        <span class="home__controls_reset" @click="resetSearch()">
          <i class="material-icons">close</i>Reset
        </span>
      </controls-container>
      <controls-container label="Filter By Tag:" v-if="recipes">
        <tag-search :recipes="recipes" @filter_recipes="updateRecipes"></tag-search>
      </controls-container>
    </vertical-drawer>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import { RECIPESTABLE, ERROR_MESSAGE_GET_RECIPES } from "@/constants/constants";
import ControlsContainer from "@/components/ControlsContainer";
import NewsSection from "@/components/NewsSection";
import RecipeList from "@/components/RecipeList";
import TagSearch from "@/components/TagSearch";
import VerticalDrawer from "@/components/VerticalDrawer";
import ProgressSpinner from "@/components/ProgressSpinner";
import PopUp from "@/components/PopUp";
export default {
  name: "Home",
  components: {
    ControlsContainer,
    NewsSection,
    RecipeList,
    TagSearch,
    VerticalDrawer,
    ProgressSpinner,
    PopUp
  },
  data() {
    return {
      recipes: null,
      filteredRecipes: null,
      searchQuery: null,
      searchMessage: "Latest Recipes:",
      loading: true,
      showError: false,
      error_message: ERROR_MESSAGE_GET_RECIPES
    };
  },
  computed: {
    recipesComputed() {
      return this.filteredRecipes;
    }
  },
  created() {
    const docClient = new AWS.DynamoDB.DocumentClient(),
      params = {
        TableName: RECIPESTABLE,
        IndexName: "datatype-timestamp-index",
        KeyConditions: {
          datatype: {
            ComparisonOperator: "EQ",
            AttributeValueList: ["recipe"]
          }
        },
        ScanIndexForward: false
      };

    docClient.query(params, (err, data) => {
      if (err) {
        this.showError = true;
      } else {
        this.recipes = data.Items;
        this.filteredRecipes = data.Items;
      }
      this.loading = false;
    });
  },
  methods: {
    submitSearch() {
      if (this.searchQuery === "") {
        return;
      }

      this.loading = true;
      fetch(
        `https://search-recipesizzler-bsoepanuwmjpyluivzg4xedul4.us-east-1.es.amazonaws.com/lambda-index/_search?q=${
          this.searchQuery
        }`
      )
        .then(data => data.json())
        .then(res => {
          if (res.hits.total > 0) {
            this.searchMessage = `Search returned ${res.hits.total} results:`;
            this.filteredRecipes = [];
            res.hits.hits.forEach(item => {
              let recipe = AWS.DynamoDB.Converter.unmarshall(item._source);
              this.filteredRecipes.push(recipe);
            });
          } else {
            this.searchMessage = "No search results. Showing Latest Recipes";
          }
          this.loading = false;
        });

      this.searchQuery = "";
    },
    updateRecipes(e) {
      this.filteredRecipes = e;
    },
    resetSearch() {
      this.searchQuery = "";
      this.searchMessage = "Latest Recipes:";
      this.filteredRecipes = this.recipes;
    }
  }
};
</script>

