<template>
  <div class="login">
    <amplify-authenticator :authConfig="authConfig"></amplify-authenticator>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      authConfig: {
        signInConfig: {
          header: "Sign in to Recipe Sizzler"
        },
        signUpConfig: {
          header: "Join Recipe Sizzler!",
          signUpFields: [
            {
              label: "Username",
              key: "username",
              required: true,
              type: "text",
              custom: false,
              displayOrder: 1
            },
            {
              label: "Email",
              key: "email",
              required: true,
              type: "email",
              custom: false,
              displayOrder: 2
            }
          ],
          hiddenDefaults: ["phone_number"]
        }
      }
    };
  }
};
</script>
