<template>
  <div>
    <pop-up v-if="showError" v-on:closed="showError = false" :message="error_message"></pop-up>
    <progress-spinner v-if="loading"></progress-spinner>
    <div class="loading_bg" v-if="loading"></div>
    <div v-if="recipesComputed" class="my_recipes">
      <recipe-list title="My Recipes" :recipes="recipesComputed"></recipe-list>
      <vertical-drawer btnLabel="Search">
        <controls-container label="Filter By Tag:" v-if="recipes">
          <tag-search :recipes="recipes" @filter_recipes="updateRecipes"></tag-search>
        </controls-container>
      </vertical-drawer>
    </div>
    <div v-else class="no_recipes">
      <h1>You haven't saved any recipes yet!</h1>
      <p>Add some recipes to get started.</p>
      <router-link :to="{ name: 'recipeEdit', params: { id: $route.params.id }}">New Recipe</router-link>
    </div>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import { RECIPESTABLE, ERROR_MESSAGE_GET_RECIPES } from "@/constants/constants";
import { API, graphqlOperation, Storage } from "aws-amplify";
import ControlsContainer from "@/components/ControlsContainer";
import ProgressSpinner from "@/components/ProgressSpinner";
import RecipeList from "@/components/RecipeList";
import VerticalDrawer from "@/components/VerticalDrawer";
import TagSearch from "@/components/TagSearch";
import PopUp from "@/components/PopUp";
import * as queries from "../graphql/queries";
export default {
  name: "MyRecipes",
  components: {
    ControlsContainer,
    ProgressSpinner,
    RecipeList,
    VerticalDrawer,
    TagSearch,
    PopUp
  },
  data() {
    return {
      recipes: [],
      filteredRecipes: null,
      loading: true,
      showError: false,
      error_message: ERROR_MESSAGE_GET_RECIPES
    };
  },
  created() {
    const docClient = new AWS.DynamoDB.DocumentClient(),
      params = {
        TableName: RECIPESTABLE,
        IndexName: "userId-timestamp-index",
        KeyConditions: {
          userId: {
            ComparisonOperator: "EQ",
            AttributeValueList: [localStorage.getItem("userId")]
          }
        },
        ScanIndexForward: false
      };
    docClient.query(params, (err, data) => {
      if (err) {
        this.showError = true;
      } else {
        this.recipes = data.Items;
        this.filteredRecipes = data.Items;
      }

      this.loading = false;
    });
  },
  computed: {
    recipesComputed() {
      return this.filteredRecipes;
    }
  },
  methods: {
    updateRecipes(e) {
      this.filteredRecipes = e;
    }
  }
};
</script>