<template>
  <div class="new_account">
    <amplify-sign-up :signUpConfig="signUpConfig"></amplify-sign-up>
  </div>
</template>

<script>
export default {
  name: "NewAccount",
  data() {
    return {
      signUpConfig: {
        header: "Join Recipe Sizzler!",
        signUpFields: [
          {
            label: "Username",
            key: "username",
            required: true,
            type: "text",
            custom: false,
            displayOrder: 1
          },
          {
            label: "Email",
            key: "email",
            required: true,
            type: "email",
            custom: false,
            displayOrder: 2
          }
        ],
        hiddenDefaults: ["phone_number"]
      }
    };
  }
};
</script>