<template>
  <div class="new_recipe">
    <pop-up v-if="showError" v-on:closed="showError = false" :message="error_message"></pop-up>
    <progress-spinner v-if="loading"></progress-spinner>
    <div class="new_recipe__nav">
      <div class="new_recipe__nav_flex">
        <router-link
          v-if="$route.params.id"
          :to="{ name: 'singleRecipe', params: { id: $route.params.id }}"
          class="new_recipe__nav_item button"
        >back</router-link>
        <div @click="setStep(1)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.name" :stepNum="1"></icon-check-switch>
        </div>
        <div @click="setStep(2)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.ingredients.length" :stepNum="2"></icon-check-switch>
        </div>
        <div @click="setStep(3)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.directions.length" :stepNum="3"></icon-check-switch>
        </div>
        <div @click="setStep(4)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.tags.length" :stepNum="4"></icon-check-switch>
        </div>
        <div @click="setStep(5)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.description" :stepNum="5"></icon-check-switch>
        </div>
        <div @click="setStep(6)" class="new_recipe__nav_item">
          <icon-check-switch :ifCond="form.imageUrls.length" :stepNum="6"></icon-check-switch>
        </div>
        <div @click="setStep(7)" class="new_recipe__nav_item">
          <icon-round :class="{'icon--active' : activeStep === 7}" icon="save"></icon-round>
        </div>
      </div>
    </div>
    <form novalidate @submit.prevent="validateForm" class="new_recipe__form">
      <stepper-item
        v-if="!editMode"
        :hideBack="true"
        class="new_recipe__begin"
        :hideForward="true"
        :currentStep="0"
      >
        <template slot="bottom">
          <button
            class="new_recipe__beginBtn button"
            @click="setStep(1)"
            type="button"
          >Begin New Recipe</button>
        </template>
      </stepper-item>
      <stepper-item :hideBack="true" class="new_recipe__begin" :hideForward="true" :currentStep="8">
        <template slot="bottom">
          <h3>Recipe has been saved.</h3>
          <button
            class="new_recipe__beginBtn button"
            @click="setStep(1)"
            type="button"
          >Begin New Recipe</button>
        </template>
      </stepper-item>
      <stepper-item
        ref="1"
        :errors="$v.form.name.$invalid"
        :currentStep="1"
        label="Recipe Name:"
        :hideBack="true"
      >
        <template slot="top">
          <input
            v-if="toggleRecipeName"
            name="name"
            id="name"
            type="text"
            class="form-control"
            v-model="form.name"
          >
          <div
            v-if="!toggleRecipeName"
            @click="toggleRecipeName = !toggleRecipeName"
            class="new_recipe__saved_item"
          >
            <icon-round icon="edit"></icon-round>
            <span>{{form.name}}</span>
          </div>

          <button
            type="button"
            v-if="toggleRecipeName"
            @click="addFormItem('name')"
            class="bg-accent button"
          >
            <i class="material-icons">add</i>Save Name
          </button>
          <span class="new_recipe__errors" v-if="!$v.form.name.required">*Recipe name required</span>
          <span
            data-error-step="1"
            class="new_recipe__errors"
            v-if="!$v.form.name.minLength"
          >*Minimum of 4 letters</span>
        </template>
      </stepper-item>
      <stepper-item
        ref="2"
        :currentStep="2"
        :errors="$v.form.ingredients.$invalid"
        label="Ingredients:"
      >
        <template slot="top">
          <ingredient-input :ingredient="ingredient" v-model="ingredient"></ingredient-input>
          <button type="button" @click="addFormItem('ingredient')" class="button bg-accent">
            <i class="material-icons">add</i>Add Ingredient
          </button>
          <span
            data-error-step="2"
            class="new_recipe__errors"
            v-if="!$v.form.ingredients.required"
          >*At least 1 ingredient required</span>
        </template>
        <template slot="bottom">
          <div class="new_recipe__saved_items" v-if="form.ingredients.length">
            <div
              v-for="(ingredient, i) in form.ingredients"
              :key="i"
              class="new_recipe__saved_item"
            >
              <div class="new_recipe__saved_item" @click="removeItemByIndex(form.ingredients, i)">
                <icon-round class="text-warning" icon="remove_circle"></icon-round>
              </div>
              <div class="new_recipe__saved_item" @click="editItem('ingredients', i)">
                <icon-round icon="edit"></icon-round>
              </div>
              <span>{{ingredient.amount}} {{ingredient.unit}} {{ingredient.description}}</span>
            </div>
          </div>
        </template>
      </stepper-item>
      <stepper-item
        ref="3"
        :currentStep="3"
        :errors="$v.form.directions.$invalid"
        label="Directions:"
      >
        <template slot="top">
          <input
            name="direction"
            id="direction"
            type="text"
            class="form-control"
            v-model="direction"
          >
          <button type="button" @click="addFormItem('direction')" class="button bg-accent">
            <i class="material-icons">add</i>Add Direction
          </button>
          <span
            data-error-step="3"
            class="new_recipe__errors"
            v-if="!$v.form.directions.required"
          >*At least 1 direction required</span>
        </template>
        <template slot="bottom">
          <div class="new_recipe__saved_items" v-if="form.directions.length">
            <div v-for="(direction, i) in form.directions" :key="i" class="new_recipe__saved_item">
              <div class="new_recipe__saved_item" @click="removeItemByIndex(form.directions, i)">
                <icon-round class="text-warning" icon="remove_circle"></icon-round>
              </div>
              <div class="new_recipe__saved_item" @click="editItem('directions', i)">
                <icon-round icon="edit"></icon-round>
              </div>
              <span>{{direction}}</span>
            </div>
          </div>
        </template>
      </stepper-item>
      <stepper-item :currentStep="4" label="Tags:">
        <template slot="top">
          <!-- <new-recipe-tags></new-recipe-tags>
          <new-tag-input></new-tag-input> -->
          <!-- <button type="button" @click="addFormItem('tag')" class="button bg-accent">
            <i class="material-icons">add</i>Add Tag
          </button>-->
        </template>
        <template slot="bottom">
          <div class="new_recipe__saved_items" v-if="form.tags.length">
            <div v-for="(tag, i) in form.tags" :key="i" class="new_recipe__saved_item">
              <div class="new_recipe__saved_item" @click="removeTag(i)">
                <icon-round class="text-warning" icon="remove_circle"></icon-round>
              </div>
              <div class="new_recipe__saved_item" @click="editItem('tags', i)">
                <icon-round icon="edit"></icon-round>
              </div>
              <span>{{tag}}</span>
            </div>
          </div>
        </template>
      </stepper-item>
      <stepper-item :currentStep="5" label="Description:">
        <template slot="top">
          <textarea
            name="description"
            id="description"
            class="form-control-textarea"
            v-model="description"
          ></textarea>
          <button type="button" @click="addFormItem('description')" class="button bg-accent">
            <i class="material-icons">add</i>Add Description
          </button>
        </template>
        <template slot="bottom">
          <div class="new_recipe__saved_items" v-if="form.description">
            <div class="new_recipe__saved_item">
              <div class="new_recipe__saved_item" @click="form.description = ''">
                <icon-round class="text-warning" icon="remove_circle"></icon-round>
              </div>
              <div
                class="new_recipe__saved_item"
                @click="description = form.description; form.description = ''"
              >
                <icon-round icon="edit"></icon-round>
              </div>
            </div>
            <span>{{form.description}}</span>
          </div>
        </template>
      </stepper-item>
      <stepper-item :currentStep="6" label="Images:">
        <template slot="top">
          <label for="image" class="button bg-accent">Add Images:</label>
          <input
            class="new_recipe__file_input"
            name="image[]"
            id="image"
            type="file"
            accept="image/*"
            multiple="multiple"
            @change="addImage($event)"
          >
          <span class="new_recipe__errors" v-if="fileCount > 6">*Maximum of 6 images per recipe</span>
        </template>
        <template slot="bottom">
          <div class="new_recipe__img_container_flex">
            <div v-for="(url, i) in form.imageUrls" :key="i" class="new_recipe__img_container">
              <div class="new_recipe__saved_item" @click="removeImage(i)">
                <icon-round class="text-warning new_recipe__img_remove_icon" icon="remove_circle"></icon-round>
              </div>
              <img class="new_recipe__img" :src="url" v-if="url">
            </div>
          </div>
        </template>
      </stepper-item>
      <stepper-item
        :currentStep="7"
        label="Final Recipe:"
        :hideForward="true"
        class="new_recipe__final"
      >
        <template slot="bottom">
          <view-recipe :edit="true" :recipe="form"></view-recipe>
          <button class="button bg-accent" type="submit">Save Recipe</button>
        </template>
      </stepper-item>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import {
  RECIPESTABLE,
  ERROR_MESSAGE_SAVE_RECIPE,
  ERROR_MESSAGE_SAVE_TAGS
} from "@/constants/constants";
import NewRecipeTags from "@/components/NewRecipeTags";
import NewTagInput from "@/components/NewTagInput";
import IngredientInput from "@/components/IngredientInput";
import IconRound from "@/components/IconRound";
import IconCheckSwitch from "@/components/IconCheckSwitch";
import ProgressSpinner from "@/components/ProgressSpinner";
import StepperItem from "@/components/StepperItem";
import ViewRecipe from "@/components/ViewRecipe";
import { Storage } from "aws-amplify";
import * as AWS from "aws-sdk";
export default {
  name: "NewRecipe",
  mixins: [validationMixin],
  components: {
    NewRecipeTags,
    NewTagInput,
    IngredientInput,
    IconRound,
    IconCheckSwitch,
    ProgressSpinner,
    StepperItem,
    ViewRecipe
  },
  data() {
    return {
      form: {
        name: "",
        directions: [],
        ingredients: [],
        tags: [],
        imageUrls: [],
        images: [],
        description: "",
        userId: this.userId,
        displayName: localStorage.getItem("username"),
        public: true,
        timestamp: null,
        datatype: "recipe",
        rating: 0,
        ratings: []
      },
      toggleRecipeName: true,
      images: [],
      direction: "",
      description: "",
      ingredient: [],
      tag: "",
      search: "",
      editMode: false,
      loading: false,
      showError: false,
      fileCount: null,
      docClient: new AWS.DynamoDB.DocumentClient()
    };
  },
  computed: {
    activeStep() {
      return this.$store.state.recipeStep;
    },
    userTags() {
      return this.$store.state.userData.tags;
    },
    userId() {
      return localStorage.getItem("userId");
    }
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(4)
      },
      ingredients: {
        required
      },
      directions: {
        required
      }
    }
  },
  async created() {
    if (this.$route.params.id) {
      this.loading = true;
      this.editMode = true;
      this.setStep(1);
      this.getRecipe()
        .then(data => {
          this.setEditFormData(data.Item);
        })
        .catch(err => {
          console.log(err);
        });

      this.loading = false;
    }
  },
  methods: {
    getRecipe() {
      let params = {
        TableName: RECIPESTABLE,
        Key: {
          id: this.$route.params.id
        }
      };

      return this.docClient.get(params).promise();
    },
    setEditFormData(data) {
      Object.assign(this.form, data);

      if (this.form.images) {
        this.form.images.forEach(img => {
          this.form.imageUrls.push(
            `https://recipeappcontent-recipedev.s3.amazonaws.com/public/${img}`
          );
        });
      }
    },
    clearForm() {
      this.loading = false;
      this.$v.$reset();
      this.images = [];
      this.toggleRecipeName = true;
      this.form = {
        name: "",
        directions: [],
        ingredients: [],
        images: [],
        imageUrls: [],
        tags: [],
        description: null,
        userId: this.userId,
        displayName: localStorage.getItem("username"),
        timestamp: null
      };
      this.setStep(8);
    },
    setStep(num) {
      this.$store.commit("setRecipeStep", num);
    },
    async saveRecipe() {
      let params;
      this.loading = true;
      this.form.timestamp = new Date().getTime();

      for await (const img of this.images) {
        // var params = {
        //   Bucket: "recipeappcontent-recipedev",
        //   Key: img.name,
        //   Body: img
        // };
        // s3.upload(params, function(err, data) {
        //   console.log(err, data);
        // });

        let result = await Storage.put(img.name + new Date().getTime(), img, {
          contentType: img.type,
          level: "public"
        });

        this.form.images.push(result.key);
      }

      if (this.form.description === "") {
        delete this.form.description;
      }

      delete this.form.imageUrls;

      if (this.editMode) {
        params = {
          TableName: RECIPESTABLE,
          Expected: {
            id: {
              ComparisonOperator: "EQ",
              Value: this.form.id
            }
          },
          Item: this.form,
          ReturnValues: "NONE"
        };
      } else {
        this.form.id = new Date().getTime().toString();
        params = {
          TableName: RECIPESTABLE,
          Item: this.form,
          ReturnValues: "NONE"
        };
      }

      this.docClient.put(params, (err, data) => {
        if (err) {
          // this.$emit("error", ERROR_MESSAGE_SAVE_BOOKMARKS);
          this.loading = false;
          this.clearForm();
        } else {
          this.loading = false;
          this.clearForm();
        }
      });
    },
    updateTags() {
      let tagSet;

      if (this.userTags) {
        tagSet = new Set(this.userTags);
      } else {
        tagSet = new Set();
      }

      tagSet.add(this.form.tags);

      let params = {
        TableName: RECIPESTABLE,
        Key: { id: this.userId },
        UpdateExpression: "set #tags = :x",
        ExpressionAttributeNames: { "#tags": "tags" },
        ExpressionAttributeValues: {
          ":x": Array.from(tagSet)
        }
      };

      this.docClient.update(params, (err, data) => {
        if (err) {
          // this.$emit("error", ERROR_MESSAGE_SAVE_TAGS);
        } else {
          console.log(data);
          this.$store.commit("setUserTags", Array.from(tagSet));
        }
      });
    },
    validateForm() {
      for (let field of Object.values(this.$refs)) {
        if (field.errors === true) {
          this.setStep(field.currentStep);
          return;
        }
      }

      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.saveRecipe();
        this.updateTags();
      }
    },
    addFormItem(type) {
      switch (type) {
        case "name":
          if (this.$v.form.name.$invalid) {
            return;
          }
          this.toggleRecipeName = !this.toggleRecipeName;
          this.setStep(2);
          break;
        case "tag":
          if (this.tag === "") {
            return;
          }
          this.form.tags.push(this.tag.toLowerCase());
          this.tag = "";
          break;
        case "direction":
          if (this.direction === "") {
            return;
          }
          this.form.directions.push(this.direction);
          this.direction = "";
          break;
        case "description":
          this.form.description = this.description;
          this.description = null;
          break;
        case "ingredient":
          if (!Object.keys(this.ingredient).length) {
            return;
          }
          this.form.ingredients.push({ ...this.ingredient });
          this.ingredient = {};
          break;
        default:
          return;
      }
    },
    addImage(e) {
      let files = e.target.files;

      if (files.length > 6) {
        this.fileCount = files.length;
        return;
      }

      this.fileCount = null;

      Array.from(files).forEach(file => {
        this.images.push(file);
        this.form.imageUrls.push(URL.createObjectURL(file));
      });
    },
    editItem(itemType, i) {
      let singular = itemType.slice(0, -1);
      this[singular] = this.form[itemType][i];
      this.removeItemByIndex(this.form[itemType], i);
    },
    removeItemByIndex(obj, i) {
      obj.splice(i, 1);
    },
    removeImage(i) {
      this.removeItemByIndex(this.form.imageUrls, i);
      this.removeItemByIndex(this.form.images, i);
    },
    removeTag(obj, i) {
      this.userTags = obj;
      this.removeItemByIndex(this.form.tags, i);
    },
    editDirection(obj, i) {
      this.direction = this.form.directions[i];
    }
  }
};
</script>