<template>
  <div class="not_found">
    <h1>Sorry!</h1>
    <p>This page does not exist.</p>
    <router-link to="home">Get back to sizzlin'.</router-link>
  </div>
</template>

<script>
export default {
  name: "NotFound"
};
</script>