<template>
  <div :class="['action_notify', {'action_notify--show' : showAlert}]">
    <div class="action_notify__inner">
      <p>{{alertMessage}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ActionNotify",
  computed: {
    showAlert() {
      return this.$store.state.showAlert;
    },
    alertMessage() {
      return this.$store.state.alertMessage;
    }
  }
};
</script>
