<template>
  <div class="bookmark" v-if="loginStatus && !checkUser">
    <i v-if="!userBm" @click="updateBookmarks()" class="material-icons">bookmark_border</i>
    <i @click="updateBookmarks()" class="material-icons" v-if="userBm">bookmark</i>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import {
  RECIPESTABLE,
  ERROR_MESSAGE_SAVE_BOOKMARKS
} from "@/constants/constants";
export default {
  name: "BookmarkIcon",
  props: ["recipe_id", "recipe_user_id"],
  data() {
    return {
      bookmarks: this.$store.state.userData.bookmarks || [],
      docClient: new AWS.DynamoDB.DocumentClient(),
      alertMessage: ""
    };
  },
  computed: {
    userBm() {
      if (this.$store.state.userData) {
        return this.$store.state.userData.bookmarks.includes(this.recipe_id);
      } else {
        return false;
      }
    },
    userId() {
      return localStorage.getItem("userId");
    },
    checkUser() {
      return localStorage.getItem("userId") === this.recipe_user_id;
    },
    loginStatus() {
      return this.$store.state.loginStatus;
    }
  },
  methods: {
    updateBookmarks() {
      let bmSet = new Set(this.bookmarks);

      if (bmSet.has(this.recipe_id)) {
        this.alertMessage = "Recipe bookmark has been removed.";
        bmSet.delete(this.recipe_id);
      } else {
        this.alertMessage = "Recipe has been bookmarked.";
        bmSet.add(this.recipe_id);
      }

      let bmArray = Array.from(bmSet),
        params = {
          TableName: RECIPESTABLE,
          Key: { id: this.userId },
          UpdateExpression: "set #bookmarks = :x",
          ExpressionAttributeNames: { "#bookmarks": "bookmarks" },
          ExpressionAttributeValues: {
            ":x": bmArray
          }
        };

      this.docClient.update(params, (err, data) => {
        if (err) {
          this.$emit("error", ERROR_MESSAGE_SAVE_BOOKMARKS);
        } else {
          this.bookmarks = bmArray;
          this.$store.commit("showAlert", this.alertMessage);
          this.$store.commit("setBookmarks", bmArray);
        }
      });
    }
  }
};
</script>
