<template>
  <div :class="['controls_container', {'controls_container__flex': flex}]">
    <label :for="label_for" class="controls_container__label">{{label}}</label>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "ControlsContainer",
  props: ["label_for", "label", "flex"]
};
</script>
