<template>
  <div class="forward_back_btn">
    <button
      v-if="!hideBack"
      type="button"
      class="button bg-accent"
      @click="setStep(activeStep - 1)"
    >
      <i class="material-icons">chevron_left</i>
    </button>
    <button
      v-if="!hideForward"
      type="button"
      class="button bg-accent"
      @click="setStep(activeStep + 1)"
    >
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
</template>

<script>
export default {
  name: "ForwardBackBtn",
  props: ["hideForward", "hideBack"],
  computed: {
    activeStep() {
      return this.$store.state.recipeStep;
    }
  },
  methods: {
    setStep(num) {
      this.$store.commit("setRecipeStep", num);
    }
  }
};
</script>