<template>
  <div>
    <icon-round v-if="!ifCond" :class="{'icon--active' : activeStep === stepNum}" :icon="stepNum"></icon-round>
    <icon-round
      v-if="ifCond"
      :class="[activeStep === stepNum ? 'icon--active' : 'icon--success']"
      icon="check"
    ></icon-round>
  </div>
</template>

<script>
import IconRound from "@/components/IconRound";
export default {
  name: "IconCheckSwitch",
  components: { IconRound },
  props: ["ifCond", "stepNum"],
  computed: {
    activeStep() {
      return this.$store.state.recipeStep;
    }
  }
};
</script>