<template>
  <div class="icon">
    <i v-if="!integer" :class="['material-icons',custom_class]">{{icon}}</i>
    <span v-else :class="['icon__span', custom_class]">{{icon}}</span>
  </div>
</template>

<script>
export default {
  name: "iconRound",
  props: {
    icon: {
      required: true
    },
    custom_class: {
      required: false,
      default: null
    }
  },
  computed: {
    integer() {
      return typeof this.icon === "number";
    }
  }
};
</script>
