<template>
  <div class="ingredient_input">
    <div class="ingredient_input__container">
      <label class="ingredient_input__label">Ingredient Amount</label>
      <input type="text" class="form-control" v-model="ingredient.amount">
    </div>

    <div class="ingredient_input__container">
      <label class="ingredient_input__label">Ingredient Unit</label>
      <input type="text" class="form-control" v-model="ingredient.unit">
    </div>

    <div class="ingredient_input__container">
      <label class="ingredient_input__label">Ingredient Description</label>
      <input type="text" class="form-control" v-model="ingredient.description">
    </div>
  </div>
</template>

<script>
export default {
  name: "IngredientInput",
  props: {
    ingredient: {
      required: false
    },
    disabled: {
      required: false,
      default: false
    }
  },
  watch: {
    ingredient: {
      handler() {
        this.$emit("input", this.ingredient);
      },
      deep: true
    }
  }
};
</script>