<template>
  <div class="new_recipe_tags">
    <div class="new_recipe_tags__container">
      <tag-search></tag-search>
    </div>

    <!-- <input
      name="tag"
      @input="$emit('input', search)"
      v-model="search"
      id="tag"
      type="text"
      class="form-control"
    > -->
    <!-- <ul class="new_recipe_tags__list">
      <li
        @click="selectItem(item)"
        class="new_recipe_tags__list_item"
        :key="i"
        v-for="(item, i) in autoComplete"
      >{{item}}</li>
    </ul> -->
  </div>
</template>

<script>
import TagEl from "@/components/TagEl";
import TagSearch from "@/components/TagSearch";
export default {
  name: "NewRecipeTags",
  components: {
    TagEl,
    TagSearch
  },
  props: {
    search: {
      required: false
    }
  },
  computed: {
    autoComplete() {
      if (this.items === null) {
        return "";
      }

      // return this.items.filter(
      //   item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      // );
    },
    tags() {
      return this.$store.state.userData.tags;
    }
  },
  methods: {
    selectItem(item) {
      if (this.items) {
        let newArray = this.items.filter(a => {
          return item !== a;
        });
        this.$emit("update:items", newArray);
        this.$emit("input", item);
        this.$emit("clicked");
      }
    }
  }
};
</script>