<template>
  <div class="news_section">
    <h3>Welcome to Recipe Sizzler.</h3>
    <p>Recipe Sizzler was conceptualized</p>
    <p>Thanks to their generous contributions, we already have</p>
    <p>This early demo release is meant to show the potential of</p>
    <p>I feel that this will not only show our mission state but also will</p>
    <p>Sincer</p>
    <p>RS</p>
    <p></p>
  </div>
</template>

<script>
export default {
  name: "NewsSection"
};
</script>