<template>
  <div>
    <label>Create New Tag</label>
    <input name="tag" id="tag" v-model="tag" type="text" class="form-control">
    <button type="button" @click="postTag()" class="button bg-accent">
      <i class="material-icons">add</i>Add Tag
    </button>
  </div>
</template>

<script>
import { RECIPESTABLE } from "@/constants/constants";
export default {
  name: "NewTagInput",
  computed: {
    userTags() {
      return this.$store.state.userData.tags;
    }
  },
  methods: {
    postTag() {
      let test = this.userTags.find(item => {
        return this.tag.toLowerCase() === item;
      });

      if (test === undefined) {
        console.log("hi");

        const docClient = new AWS.DynamoDB.DocumentClient(),
          params = {
            RequestItems: {
              [RECIPESTABLE]: {
                Keys: this.bookmarks
              }
            }
          };
      }
    }
  },
  data() {
    return {
      tag: ""
    };
  }
};
</script>
