<template>
  <div class="pop_up">
    <i @click="$emit('closed')" class="material-icons pop_up__close">close</i>
    <div class="pop_up__inner" v-html="message"></div>
  </div>
</template>

<script>
export default {
  name: "PopUp",
  props: ["message"]
};
</script>