<template>
  <div class="progress_spinner">
    <img class="progress_spinner__spinner" src="@/assets/spinner.svg">
  </div>
</template>

<script>
export default {
  name: "ProgressSpinner"
};
</script>