<template>
  <div class="recipe_list">
    <h1 v-if="title" class="recipe_list__title">{{title}}</h1>
    <div v-for="(recipe, i) in recipes" :key="i">
      <div v-if="(home && recipe.description) || !home" class="recipe_list__list_item">
        <div class="recipe_list__list_text">
          <div class="recipe_list__header_flex">
            <div>
              <router-link :to="{ name: 'singleRecipe', params: { id: recipe.id }}">
                <h2 v-if="recipe.name">{{recipe.name}}</h2>
              </router-link>

              <router-link
                v-if="recipe.displayName && home"
                class="recipe_list__author"
                :to="{ name: 'authorRecipes', params: { id: recipe.userId }}"
              >{{recipe.displayName}}</router-link>
            </div>
            <div>
              <recipe-rating v-if="recipe.ratings" :ratings="recipe.ratings"></recipe-rating>
              <div class="recipe_list__bm_container">
                <router-link :to="{ name: 'singleRecipe', params: { id: recipe.id }}">
                  <i class="material-icons">visibility</i>
                </router-link>
                <bookmark-icon :recipe_id="recipe.id" :recipe_user_id="recipe.userId"></bookmark-icon>
              </div>
            </div>
          </div>

          <p class="recipe_list__description" v-if="recipe.description">{{recipe.description}}</p>
          <div class="recipe_list__tags" v-if="recipe.tags">
            <tag-el v-for="(tag, i) in recipe.tags" :key="i" :text="tag"></tag-el>
          </div>
        </div>
        <div
          v-if="recipe.images.length"
          :style="{backgroundImage: `url(https://recipeappcontent-recipedev.s3.amazonaws.com/public/${recipe.images[0]})`}"
          class="recipe_list__bg_img"
        ></div>
        <img
          v-if="recipe.images.length"
          class="recipe_list__list_img"
          :src="`https://recipeappcontent-recipedev.s3.amazonaws.com/public/${recipe.images[0]}`"
        >
      </div>
    </div>
  </div>
</template>

<script>
import BookmarkIcon from "@/components/BookmarkIcon";
import RecipeRating from "@/components/RecipeRating";
import TagEl from "@/components/TagEl";
export default {
  name: "RecipeList",
  components: {
    BookmarkIcon,
    RecipeRating,
    TagEl
  },
  props: ["recipes", "title", "home"],
  computed: {
    loginStatus() {
      return this.$store.state.loginStatus;
    },
    userId() {
      return localStorage.getItem("userId");
    }
  }
};
</script>
