<template>
  <div>
    <div class="recipe_rating" v-if="picker">
      <div class="recipe_rating__picker">
        <div class="recipe_rating__star" @click="saveRating(5)"></div>
        <div class="recipe_rating__star" @click="saveRating(4)"></div>
        <div class="recipe_rating__star" @click="saveRating(3)"></div>
        <div class="recipe_rating__star" @click="saveRating(2)"></div>
        <div class="recipe_rating__star" @click="saveRating(1)"></div>
        <div
          v-if="userRating && userRating.rating"
          :class="['recipe_rating__picker_filled','recipe_rating__filled_stars', `recipe_rating__rate_${userRating.rating}`]"
        ></div>
      </div>
    </div>
    <div class="recipe_rating" v-else>
      <div v-if="rating > 0">
        <div class="recipe_rating__empty_stars"></div>
        <div :class="['recipe_rating__filled_stars', `recipe_rating__rate_${rating}` ]"></div>
      </div>
      <p v-else>Not Yet Rated</p>
    </div>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import { ERROR_MESSAGE_SAVE_RATING } from "@/constants/constants";
export default {
  name: "RecipeRating",
  props: ["rating", "picker", "recipe_id"],
  data() {
    return {
      userId: localStorage.getItem("userId"),
      userRatings: null,
      mutableRatings: this.ratings
    };
  },
  computed: {
    userRating() {
      if (this.$store.state.userData.ratings) {
        this.userRatings = this.$store.state.userData.ratings;
        if (this.picker === true) {
          return this.userRatings.find(item => {
            return item.id === this.recipe_id;
          });
        }
      }
    }
  },
  methods: {
    saveRating(n) {
      const lambda = new AWS.Lambda(),
        params = {
          userId: this.userId,
          recipeId: this.recipe_id,
          userRatings: this.userRatings || [],
          newRating: n,
          recipeRatings: this.ratings || []
        },
        pullParams = {
          FunctionName: "processRecipes",
          InvocationType: "RequestResponse",
          LogType: "None",
          Payload: JSON.stringify(params)
        };

      let pullResults;

      lambda.invoke(pullParams, (error, data) => {
        if (error) {
          this.$emit("error", ERROR_MESSAGE_SAVE_RATING);
        } else {
          pullResults = JSON.parse(data.Payload);
          this.$emit("updateRatings", pullResults);
          this.$store.commit("setRating", pullResults.userRatings);
        }
      });
    }
  }
};
</script>
