<template>
  <div v-if="activeStep === currentStep" class="stepper_item">
    <div>
      <div class="stepper_item__label_flex">
        <label v-if="label" class="stepper_item__label" for="name">{{label}}</label>
        <forward-back-btn :hideForward="hideForward" :hideBack="hideBack"></forward-back-btn>
      </div>
      <slot name="top"></slot>
    </div>
    <slot name="bottom"></slot>
  </div>
</template>

<script>
import ForwardBackBtn from "@/components/ForwardBackBtn";
export default {
  name: "StepperItem",
  components: {
    ForwardBackBtn
  },
  props: {
    hideBack: {
      required: false,
      default: false
    },
    currentStep: {
      required: true
    },
    hideForward: {
      required: false,
      default: false
    },
    label: {
      required: false
    },
    errors: {
      required: false
    }
  },
  computed: {
    activeStep() {
      return this.$store.state.recipeStep;
    }
  }
};
</script>
