<template>
  <span :class="[customClass, 'tag']">{{text}}</span>
</template>

<script>
export default {
  name: "TagEl",
  props: {
    text: {
      required: false
    },
    customClass: {
      required: false
    }
  }
};
</script>