<template>
  <div class="tag_search">
    <div @click="tagSearch(i)" class="tag_search__outer_tag" v-for="(tag, i) in allTags" :key="i">
      <tag-el :class="[ activeIndex.includes(i) ? 'tag_search__tag_selected': '']" :text="tag"></tag-el>
    </div>
  </div>
</template>

<script>
import TagEl from "@/components/TagEl";
export default {
  name: "TagSearch",
  props: ["recipes"],
  components: {
    TagEl
  },
  data() {
    return {
      activeIndex: [],
      tagsArray: [],
      filteredRecipes: []
    };
  },
  computed: {
    allTags() {
      if (
        (!this.recipes || this.recipes === null) &&
        this.$store.state.userData
      ) {
        return this.$store.state.userData.tags;
      } else {
        let tagSet = new Set();
        this.recipes.forEach(item => {
          if (item.tags) {
            item.tags.forEach(tag => {
              tagSet.add(tag);
            });
          }
        });

        return Array.from(tagSet.values());
      }
    }
  },
  methods: {
    tagSearch(i) {
      if (this.tagsArray.includes(this.allTags[i])) {
        let clicked = this.tagsArray.filter(item => {
            let match = item === this.allTags[i];
            return !match;
          }),
          filtered = this.activeIndex.filter(item => {
            if (item === i) {
              return false;
            }
            return true;
          });
        this.activeIndex = filtered;
        this.tagsArray = clicked;
      } else {
        this.tagsArray.push(this.allTags[i]);
        this.activeIndex.push(i);
      }

      this.filteredRecipes = [];
      if (this.tagsArray.length) {
        this.recipes.forEach(recipe => {
          if (this.arrayContainsArray(recipe.tags, this.tagsArray)) {
            this.filteredRecipes.push(recipe);
          }
        });
      } else {
        this.filteredRecipes = this.recipes;
      }

      this.$emit("filter_recipes", this.filteredRecipes);
    },
    arrayContainsArray(superset, subset) {
      if (0 === subset.length) {
        return false;
      }
      return subset.every(value => {
        return superset.indexOf(value) >= 0;
      });
    }
  }
};
</script>