<template>
  <nav class="top_nav" :class="{'top_nav__nav_btn--open': navState}">
    <button @click="toggleMenu()" class="top_nav__nav_btn">
      Menu
      <i class="material-icons">menu</i>
    </button>
    <p class="top_nav__title">Recipe Sizzler</p>
    <div class="top_nav__container">
      <ul class="top_nav__list" v-if="loginStatus">
        <li class="top_nav__list_item">
          <router-link to="/newrecipe" class="top_nav__nav_link">
            <i class="material-icons top_nav__nav_link_icon">note_add</i>
            <span>New Recipe</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <router-link to="/myrecipes" class="top_nav__nav_link">
            <i class="material-icons top_nav__nav_link_icon">note</i>
            <span>My Recipes</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <router-link to="/bookmarks" class="top_nav__nav_link">
            <i class="material-icons top_nav__nav_link_icon">bookmark</i>
            <span>Bookmarks</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <router-link to="/home" class="top_nav__nav_link">
            <i class="material-icons top_nav__nav_link_icon">home</i>
            <span>Home</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <amplify-sign-out></amplify-sign-out>
        </li>
      </ul>
      <ul class="top_nav__list" v-else>
        <li class="top_nav__list_item">
          <router-link to="/home" class="top_nav__nav_link">
            <i class="material-icons top_nav__nav_link_icon">home</i>
            <span>Home</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <router-link to="/login" class="top_nav__nav_link">
            <div class="top_nav__spacer"></div>
            <span>Login</span>
          </router-link>
        </li>
        <li class="top_nav__list_item">
          <router-link to="/register" class="top_nav__nav_link">
            <div class="top_nav__spacer"></div>
            <span>Register</span>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import router from "../router";
import { Auth } from "aws-amplify";
export default {
  name: "TopNav",
  data() {
    return {
      loggedIn: false
    };
  },
  watch: {
    $route() {
      this.$store.commit("setMainNavState", false);
    }
  },
  methods: {
    toggleMenu() {
      this.$store.commit("setMainNavState");
    }
  },
  computed: {
    loginStatus() {
      return this.$store.state.loginStatus;
    },
    navState() {
      return this.$store.state.mainNav;
    }
  }
};
</script>
