<template>
  <div :class="['vertical_drawer', {'vertical_drawer--show' : showControls}]">
    <div
      class="button vertical_drawer__options_btn"
      type="button"
      @click="showControls = !showControls"
    >
      <i class="material-icons">keyboard_arrow_up</i>
      <div>{{btnLabel}}</div>
    </div>
    <div class="vertical_drawer__controls">
    <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "VerticalDrawer",
  props: {
    btnLabel: {
      required: true
    }
  },
  data() {
    return {
      showControls: false
    };
  }
};
</script>