<template>
  <div>
    <pop-up v-if="showError" v-on:closed="showError = false" :message="errorMessage"></pop-up>
    <progress-spinner v-if="loading"></progress-spinner>
    <div :class="['view_recipe', {'view_recipe--edit' : edit}]" v-if="mutableRecipe">
      <div v-if="mutableRecipe.name" class="view_recipe__title view_recipe__title--mobile">
        <div>
          <h1>{{mutableRecipe.name}}</h1>
          <recipe-rating v-if="!edit" :rating="mutableRecipe.rating"></recipe-rating>
        </div>
        <bookmark-icon
          v-if="!userRecipe"
          :recipe_user_id="mutableRecipe.userId"
          :recipe_id="mutableRecipe.id"
          @error="error"
        ></bookmark-icon>
      </div>
      <div class="view_recipe__recipe">
        <div class="view_recipe__inner">
          <div v-if="mutableRecipe.name" class="view_recipe__title view_recipe__title--desktop">
            <h1>
              <i class="material-icons">local_dining</i>
              {{mutableRecipe.name}}
            </h1>
            <recipe-rating v-if="!edit" :rating="mutableRecipe.rating"></recipe-rating>
            <bookmark-icon
              v-if="!userRecipe"
              :recipe_user_id="mutableRecipe.userId"
              :recipe_id="mutableRecipe.id"
              @error="error"
            ></bookmark-icon>
          </div>
          <div
            v-if="mutableRecipe.name || mutableRecipe.description"
            class="view_recipe__item_container"
          >
            <h2 class="view_recipe__header">Description:</h2>
            <p
              v-if="mutableRecipe.description"
              class="view_recipe__item"
            >{{mutableRecipe.description}}</p>
          </div>
          <div v-if="mutableRecipe.ingredients.length" class="view_recipe__item_container">
            <h2 class="view_recipe__header">Ingredients:</h2>
            <div
              class="view_recipe__item"
              v-for="(ingredient, i) in mutableRecipe.ingredients"
              :key="i"
            >
              <span>{{ingredient.amount}} {{ingredient.unit}} {{ingredient.description}}</span>
            </div>
          </div>
          <div v-if="mutableRecipe.directions.length" class="view_recipe__item_container">
            <h2 class="view_recipe__header">Directions:</h2>
            <div
              class="view_recipe__item"
              v-for="(direction, i) in mutableRecipe.directions"
              :key="i"
            >
              <span>{{direction}}</span>
            </div>
          </div>
          <div v-if="mutableRecipe.tags.length" class="view_recipe__item_container">
            <h2 class="view_recipe__header">Tags:</h2>
            <div class="view_recipe__tags_flex">
              <tag-el :text="tag" v-for="(tag, i) in mutableRecipe.tags" :key="i"></tag-el>
            </div>
          </div>
        </div>
      </div>
      <div class="view_recipe__images">
        <div class="view_recipe__images_inner">
          <div
            class="view_recipe__image_container"
            v-for="(img, i) in mutableRecipe.imageUrls || mutableRecipe.images"
            :key="i"
          >
            <img
              v-if="!edit"
              class="view_recipe__image"
              :src="`https://recipeappcontent-recipedev.s3.amazonaws.com/public/${img}`"
            >
            <img class="view_recipe__image" v-if="edit" :src="img">
          </div>
        </div>
      </div>

      <vertical-drawer v-if="!edit" btnLabel="Options">
        <controls-container v-if="!userRecipe && loginStatus" :flex="true" label="Rate Recipe:">
          <recipe-rating
            :picker="true"
            :recipe_id="$route.params.id"
            :rating="mutableRecipe.rating"
            @updateRatings="updateRatings"
            @error="error"
          ></recipe-rating>
        </controls-container>
        <controls-container
          v-if="!userRecipe && loginStatus"
          :flex="true"
          label="Bookmark this recipe:"
        >
          <bookmark-icon
            :recipe_id="mutableRecipe.id"
            :recipe_user_id="mutableRecipe.userId"
            @error="error"
          ></bookmark-icon>
        </controls-container>
        <div class="view_recipe__edit" v-if="userRecipe">
          <router-link
            :to="{ name: 'recipeEdit', params: { id: $route.params.id }}"
            class="button bg-primary"
          >Edit Recipe</router-link>
        </div>
        <controls-container v-if="!loginStatus" label="Login to rate, bookmark recipes and more!">
          <div>
            <router-link to="/login">Login</router-link>
          </div>
          <div>
            <router-link to="/register">Register</router-link>
          </div>
        </controls-container>
        <controls-container :flex="true" v-if="true === false" label="Share:">
          <div class="view_recipe__social_flex">
            <img class src="@/assets/Twitter_Logo_Blue.svg">
            <img class src="@/assets/f-ogo_RGB_HEX-58.svg">
            <img class src="@/assets/badgeRGB.svg">
          </div>
        </controls-container>
        <controls-container :flex="true" label="Report content terms violation:">
          <i @click="flagContent" class="material-icons">flag</i>
        </controls-container>
      </vertical-drawer>
    </div>
  </div>
</template>

<script>
import * as AWS from "aws-sdk";
import BookmarkIcon from "@/components/BookmarkIcon";
import ControlsContainer from "@/components/ControlsContainer";
import PopUp from "@/components/PopUp";
import ProgressSpinner from "@/components/ProgressSpinner";
import RecipeRating from "@/components/RecipeRating";
import TagEl from "@/components/TagEl";
import VerticalDrawer from "@/components/VerticalDrawer";
import { RECIPESTABLE, ERROR_MESSAGE_GET_RECIPE } from "@/constants/constants";
export default {
  name: "ViewRecipe",
  components: {
    BookmarkIcon,
    ControlsContainer,
    PopUp,
    ProgressSpinner,
    RecipeRating,
    TagEl,
    VerticalDrawer
  },
  props: ["recipe", "edit"],
  data() {
    return {
      mutableRecipe: null,
      loading: false,
      showError: false,
      errorMessage: null,
      docClient: new AWS.DynamoDB.DocumentClient(),
      userId: localStorage.getItem("userId")
    };
  },
  computed: {
    userRecipe() {
      return this.userId === this.mutableRecipe.userId;
    },
    loginStatus() {
      return this.$store.state.loginStatus;
    }
  },
  async created() {
    if (this.edit) {
      this.mutableRecipe = this.recipe;
    } else {
      this.loading = true;
      await this.getRecipe()
        .then(data => {
          this.mutableRecipe = data.Item;
        })
        .catch(err => {
          this.errorMessage = ERROR_MESSAGE_GET_RECIPE;
          this.showError = true;
        });
      this.loading = false;
    }
  },
  methods: {
    getRecipe() {
      let params = {
        TableName: RECIPESTABLE,
        Key: {
          id: this.$route.params.id
        }
      };

      return this.docClient.get(params).promise();
    },
    updateRatings(e) {
      this.mutableRecipe.rating = e.newRating;
    },
    error(e) {
      this.showError = true;
      this.errorMessage = e;
    },
    flagContent() {
      console.log("flag");
    }
  }
};
</script>
