<template>
  <div class="app">
    <action-notify></action-notify>
    <div @click="closeNav()" :class="['app__open_nav', {'app__open_nav--open': navState}]"></div>
    <top-nav></top-nav>
    <div @click="closeNav()" class="app__inner_content">
      <router-view v-if="fetchDone"/>
    </div>
  </div>
</template>

<script>
import ActionNotify from "@/components/ActionNotify";
import TopNav from "@/components/TopNav";
import "@/scss/main.scss";
export default {
  name: "App",
  components: {
    ActionNotify,
    TopNav
  },
  created() {
    // this.$store.commit("setLoginStatus");
    this.$store
      .dispatch("setLoginStatus")
      .then(data => {
        if (data === false) {
          this.$store.commit("setUser", { loginStatus: false, userData: {} });
        } else {
          this.$store.commit("setUser", {
            loginStatus: true,
            userData: data.Item
          });
        }

        this.fetchDone = true;
      })
      .catch(err => {
        console.log(err);
        this.$store.commit("setUser", { loginStatus: false, userData: {} });
        this.fetchDone = true;
      });
  },
  computed: {
    navState() {
      return this.$store.state.mainNav;
    }
  },
  data() {
    return {
      menuVisible: false,
      fetchDone: false
    };
  },
  methods: {
    closeNav() {
      if (this.navState) {
        this.$store.commit("setMainNavState", false);
      }
    }
  }
};
</script>