.app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;

  .app__open_nav {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
    opacity: 0;
    background: $color-opaque;
    transition: 200ms;
    pointer-events: none;
  }

  .app__open_nav--open {
    opacity: 1;
    pointer-events: auto;
  }

  .app__inner_content {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;

    @include scrollbar;
  }
  .app__bottom_nav {
    flex-shrink: 0;
  }
}
