.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-accent {
  background-color: $color-accent;
}

.bg-accent-secondary {
  background-color: $color-accent-secondary;
}

.bg-success {
  background-color: $color-success;
}

.bg-warning {
  background-color: $color-warning;
}

.text-warning {
  color: $color-warning;
}

.form-control {
  display: block;
  border: 1px solid $color-grey;
  width: 100%;
  height: 2em;
  padding: 0 $gutter;
  -webkit-appearance: none;
  margin: $gutter 0 1.2em;
  border-radius: 0;
}

.form-control-textarea {
  display: block;
  border: 1px solid $color-grey;
  width: 100%;
  height: 40%;
  padding: 1em $gutter;
  -webkit-appearance: none;
  margin: 0.5em 0 1.2em;
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gutter $gutter * 2;
  -webkit-appearance: none;
  color: $color-black;
  border: none;
  cursor: pointer;
  border: 1px solid $color-black;

  @include tablet {
    width: fit-content;
  }

  @include desktop {
    width: fit-content;
  }
}
