@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $color-primary;
    background-color: $color-white;
    border-radius: 10px;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-accent;
    -webkit-box-shadow: inset 0 0 2px $color-black;
    border-radius: 0;
  }
}

@mixin navTab($color, $bg, $top) {
  border-bottom-right-radius: 12px;
  width: 4em;
  height: 4em;
  position: absolute;
  right: 0;
  top: $top;
  margin-right: -4em;
  color: $color;
  background-color: $bg;
  border: none;
  cursor: pointer;
}
