// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Roboto");

*:not(i) {
  // font-family: "Nunito", sans-serif;
  // font-family: "Karla", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  // font-family: "Nunito", sans-serif;
  color: $color-black;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $color-accent;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
  }
}
