$color-white: #ffffff;
$color-black: #171717;
$color-yellow: #fff797;
$color-grey: #717171;
$color-opaque: rgba(68, 68, 68, 0.5);

$color-primary: #64c2ec;
$color-secondary: #bae1f2;
$color-accent: #ec9164;
$color-accent-lighten: lighten(
  $color: $color-accent,
  $amount: 20%
);
$color-accent-secondary: #ecd564;
$color-accent-secondary-lighten: lighten(
  $color: $color-accent-secondary,
  $amount: 20%
);
@mixin color-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec9164+0,eaad91+100 */
  background: #ec9164; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ec9164 0%,
    #eaad91 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ec9164 0%,
    #eaad91 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ec9164 0%,
    #eaad91 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9164', endColorstr='#eaad91',GradientType=0 ); /* IE6-9 */
}

@mixin blue-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#64c2ec+0,00a4ea+99 */
  background: #64c2ec; /* Old browsers */
  background: -moz-linear-gradient(top, #64c2ec 0%, #00a4ea 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #64c2ec 0%,
    #00a4ea 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #64c2ec 0%,
    #00a4ea 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c2ec', endColorstr='#00a4ea',GradientType=0 ); /* IE6-9 */
}

$color-warning: #f74356;
$color-success: #3faf42;

$tablet-width: 425px;
$desktop-width: 1024px;

$animationTime: 300ms;

$gutter: 0.4rem;
